.seatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase{
    background-color: #777;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
}

.showcase > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.seat{
    background-color: #444451;
    width: 50px;
    height: 40px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.availableSeat{
    background-color: #444451;
    width: 15px;
    height: 12px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
}

.selectedSeatIcon{
    background-color: #6feaf6;
    width: 15px;
    height: 12px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: default;
}

.seat:hover{
    scale: 1.2;
}

.selectedSeat:hover{
    scale: 1.2;
}

.seat:nth-of-type(2){
    margin-right: 18px;
}

.seat:nth-of-type(5){
    margin-left: 18px;
}

/*.seat:nth-of-type(7){*/
/*    margin-left: 18px;*/
/*}*/

/*.selectedSeat{*/
/*    background-color: #6feaf6;*/
/*    width: 15px;*/
/*    height: 12px;*/
/*    margin: 3px;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.selectedSeat{*/
/*    background-color: #6feaf6;*/
/*    width: 50px;*/
/*    height: 40px;*/
/*    margin: 3px;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.selectedSeat{*/
/*    background-color: #fff;*/
/*    width: 15px;*/
/*    height: 12px;*/
/*    margin: 3px;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*}*/


/*.occupiedSeat{*/
/*    background-color: #fff;*/
/*    width: 15px;*/
/*    height: 12px;*/
/*    margin: 3px;*/
/*    border-top-left-radius: 10px;*/
/*    border-top-right-radius: 10px;*/
/*}*/

.row{
    display: flex;
}

.text{
    margin-top: 30px;
    padding: 20px;
}