<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <script defer src="/assets/js/Home.js"></script>
    <title th:text="${title}"></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>어서오세요. JAVA스터디입니다.</h1>
            <h2>We are team of talented designers making websites with Bootstrap</h2>
            <a href="/" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= Breadcrumbs Section ======= -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">
                <!--
                  <div class="row">
                  <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content roomPicture">
                      <h3>Why Choose Medilab?</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                      </p>
                      <div class="text-center">
                        <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                  -->
                <div class="buttonGroup">
                    <button type="button" class="btn btn-lg btn-outline-secondary seatButton active">개인</button>
                    <button type="button" class="btn btn-lg btn-outline-secondary roomButton ">스터디룸</button>
                </div>
                <div class="col-lg-12 seats">
                    <div class="seatContainer">
                        <ul class="showcase">
                            <li>
                                <div class="availableSeat"></div>
                                <small class="small">빈자리</small>
                            </li>
                            <li>
                                <div class="selectedSeatIcon"></div>
                                <small class="small">사용중인 자리</small>
                            </li>
                        </ul>
                        <div class="seatContainer" th:if="${ViewStudyInInfo != null}">
                            <!--                            이런문법은 세상에 존재하지 않는것인가? 왜 실행이 안되는것일까?-->
                            <!--                            <div th:each="group : ${#lists.partition(ViewStudyInInfo, 6)}" class="row">-->
                            <!--                                <div th:text="${group}"></div>-->
                            <!--                                <th:block th:each="studyInInfo : ${group}">-->
                            <!--                                    <span class="seat" th:id="${studyInInfo.SIINum}" data-bs-toggle="modal" data-bs-target="#exampleModal"></span>-->
                            <!--                                </th:block>-->
                            <!--                            넘어오는 데이터 확인 한것(2차원 배열로 넘어옴)-->
                            <!--                            <div th:text="${ViewStudyInInfo}"></div>-->
                            <div class="row" th:each="studyInInfogroup : ${ViewStudyInInfo}">
                                <th:block th:each="studyInInfo : ${studyInInfogroup}">
                                    <th:block th:if="${session.userid} != null">
                                        <span th:class="${studyInInfo.SeatUseState} == 'Y' ? 'seat selectedSeat' : 'seat' "
                                              th:id="'seat' + ${studyInInfo.SIINum}"
                                              data-bs-toggle="modal" data-bs-target="#exampleModal"></span>
                                    </th:block>
                                    <th:block th:if="${session.userid} == null">
                                        <span th:class="${studyInInfo.SeatUseState} == 'Y' ? 'seat selectedSeat' : 'seat' "
                                              th:id="'seat' + ${studyInInfo.SIINum}"
                                              data-bs-toggle="modal" data-bs-target="#exampleModal3"></span>
                                    </th:block>
                                </th:block>
                            </div>
                        </div>
                        <p class="text">
                            <i class="bi bi-caret-right-fill"></i> 총 좌석 <span id="totalcount"></span>
                            <i class="bi bi-caret-right-fill"></i> 사용 중 <span id="usecount"></span>
                            <i class="bi bi-caret-right-fill"></i> 남은 자리 <span id="leftcount"></span>
                        </p>
                    </div>
                </div>
                <div class="col-lg-12 align-items-stretch rooms">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-3 d-flex align-items-stretch" th:each="StudyGInfo : ${ViewStudyGInfo}">
                                <a href="/teamdetail">
                                    <div th:id="'roomPicture' + ${StudyGInfo.SGINum}" class="icon-box mt-4 mt-xl-0">
                                        <!--                      <i class="bx bx-receipt"></i>-->
                                        <th:block th:each="StudyGImg : ${ViewStudyGImg}">
                                            <img th:if="${StudyGImg.SGIIdx == StudyGInfo.SGIIdx}" th:src="${StudyGImg.SGImg}" src="" alt="스터드룸 사진">
                                        </th:block>
                                        <h4 th:text="${StudyGInfo.SGIContent1}">스터디룸 1번</h4>
                                        <p th:text="${StudyGInfo.SGIContent2}">스터디룸은 학습이나 작업을 위한 전용 공간으로, 개별이나 그룹으로 사용될 수 있는 공간입니다.
                                            주로 조용하고 집중하기 좋은 환경을 제공하여 학업이나 업무에 집중할 수 있도록 돕습니다.</p>
                                        <!--                      <a href="#" type="button" class="btn btn-light">버튼</a>-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>
            </div>
        </section><!-- End Why Us Section -->
    </main><!-- End #main -->
    <!--modal1-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">알림</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body" class="modal-body" >
                    내용부분
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" id="modalsucbtn" class="btn btn-primary"
                            data-bs-target="#exampleModal2" data-bs-toggle="modal" data-bs-dismiss="modal">완료</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal2-->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">알림</h1>
                    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div id="modal-body2" class="modal-body" >
                    내용부분
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal2Button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal3 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel3">알림</h1>
                    <!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
                </div>
                <div id="modal-body3" class="modal-body" >
                    로그인 후 이용이 가능합니다.
                </div>
                <div class="modal-footer">
                    <button type="button" id="modal3Button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>