<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>Order Page</title>
    <script defer src="/assets/js/messageBoard.js"></script>
</head>
<th:block layout:fragment="content">
    <section class="messageBoard">
        <main id="main">
            <div class="container">
                <h4>게시판</h4>
<!--                <p th:text="${ViewpageTables}"></p>-->
              <th:block th:each="pageTables, index : ${ViewpageTables}">
<!--                <p th:text="${index}"></p>-->
              </th:block>
<!--                <p th:text="${ViewCommunityCategory}"></p>-->
                <div class="category" th:each="groupCategory : ${ViewCommunityCategory}">
                    <th:block th:each="CommunityCategory : ${groupCategory}">
                        <div class="categoryName" th:id="categoryID + ${CommunityCategory.ComCateIdx}"
                                                  th:text="${CommunityCategory.ComCateName}"
                                                  th:classappend="${parameterCategory == CommunityCategory.ComCateIdx} ? 'active'"></div>
                    </th:block>
                </div>
                <div class="contents-group">
                    <div id="data-container" th:attr="data-ViewCommunity=${ViewCommunity}"></div>
                    <th:block th:each="groupCommunity, index : ${ViewCommunity}">
<!--                        <p th:text="${index}"></p>-->
                        <!--                    <p th:text="${index.index}"></p>-->
                        <!--                    <p th:text="${parameterCommunity}"></p>-->
                        <th:block th:if="${index.count} == ${parameterCommunity}" >
                            <th:block th:each="community : ${groupCommunity}">
                                <div class="content">
                                    <h4 class="content-title" th:text="${community.ComTitle}"></h4>
                                    <h5 class="content-body" th:text="${community.ComContent}"></h5>
                                    <div class="content-date"><i class="bi bi-calendar-event"></i><span th:text="' ' + ${community.ComStartDate}"></span></div>
                                    <div class="content-people"><i class="bi bi-people-fill"></i><span th:text="' ' + ${community.memberCount + 1} + ' / ' + ${community.ComToCount} + ' 명'"></span></div>
                                </div>
                            </th:block>
                        </th:block>
                    </th:block>
                </div>
                <div class="btn-section">
                    <button type="button" class="btn btn-light btn-before" onclick="firstActive()"><i class="bi bi-chevron-double-left"></i></button>
                    <button type="button" th:if="${parameterPageGroup != 1}" class="btn btn-light btn-before" onclick="beforeActive()"><i class="bi bi-chevron-left"></i></button>
                    <div class="btn-group" id="btn-group" role="group" aria-label="Second group">
<!--                        <p th:text="${ViewpageTables.size()}"></p>-->
                        <th:block th:with=" size = ${ViewpageTables[(parameterPageGroup - 1)].size()}">
                            <th:block th:with=" value = ${parameterPageGroup * 3 - (3 - size)}">
                                <th:block th:each="i : ${#numbers.sequence((parameterPageGroup - 1) * 3 + 1, value)}">
                                    <button type="button" th:classappend="${i == parameterCommunity} ? 'active'" th:text="${i}" class="btn btn-light">1</button>
                                </th:block>
                            </th:block>
                        </th:block>
                    </div>
                    <th:block th:with = "threeList = ${ViewpageTables.size()}">
                        <th:block th:with = "twoList = ${ViewpageTables[threeList - 1].size()}">
                            <button type="button" th:if="${parameterPageGroup} != ${threeList}" class="btn btn-light btn-next" onclick="nextActive()"><i class="bi bi-chevron-right"></i></button>
                            <button type="button" class="btn btn-light btn-next" th:onclick="'lastActive(' + ${threeList} + ', ' + ${twoList} + ')'"><i class="bi bi-chevron-double-right"></i></button>
                        </th:block>
                    </th:block>

                </div>
            </div>
        </main>
    </section>
</th:block>
</html>