<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>Order Page</title>
    <script defer src="/assets/js/post.js"></script>
</head>
<th:block layout:fragment="content">
    <section class="post">
        <main id="main">
            <div class="container">
                <h4 class="page-subject">post페이지입니다.</h4>

                <h4 class="post-title">제목입니다.</h4>

                <h5 class="post-author">작성자</h5>
                <p class="post-createDate">게시글 작성날짜: 1111-11-11</p>

                <div class="post-peopleNumber">1 / 5</div>

                <div class="post-peopleGroup">
                    <div class="people">홍길동</div>
                    <div class="people">홍길동</div>
                </div>

                <div class="information">
                    <div class="information-start"><i class="bi bi-calendar-check"></i>시작: 2222-2-22 22:00</div>
                    <div class="information-end"><i class="bi bi-calendar-x"></i>종료: 2222-2-22 23:00</div>
                    <div class="information-place"><i class="bi bi-geo-alt-fill"></i>장소: 스터디룸 2번</div>
                </div>

                <div class="content">
                    내용부분
                </div>

                <div class="btn-group">
                    <button class="previousButton btn btn-light">이전</button>
                    <button class="participateButton btn btn-light">참여하기</button>
                    <button class="participateButton btn btn-light">수정</button>
                    <button class="participateButton btn btn-light">삭제</button>
                </div>

            </div>
        </main>
    </section>


</th:block>
</html>