<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
>
<head>
    <title>Space Reservation</title>
</head>
<th:block layout:fragment="content">
    <div class="container-detail">
        <div class="h_area">
            <h1 class="h_title">스터디룸 제1번 룸</h1>
            <p class="h_desc">🎈 제목 소개 한줄

            </p>
            <div class="tags">
                <div class="tag">#안양역</div>
                <div class="tag">#모임공간</div>
                <!-- 추가적인 태그들을 여기에 추가 -->
            </div>
        </div>
        <div class="inner_width">
            <div class="left_area">
                <div class="image_space_intro">
                    <div class="image_area">
                        <!-- 이미지 웹에서 불러오는거 아니면 404에러 남 파일안에서는 찾을 수 없음-->
                        <img src="/assets/img/study.jpg" alt="Random Image">
                    </div>
                    <div class="article">
<!--                        <div class="article-bar">-->
<!--                            <a href="#one">공간소개</a>-->
<!--                            <a href="#two">시설안내</a>-->
<!--                            <a href="#three">유의사항</a>-->
<!--                            <a href="#four">환불정책</a>-->
<!--                            <a href="#five">Q&A</a>-->
<!--                            <a href="#six">이용후기</a>-->
<!--                        </div>-->
                        <div class="space_intro section1">
                            <h2 id="one" class="two_title">공간 소개</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>
                        <div class="space_intro section2">
                            <h2 id="two" class="two_title">시설안내</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>
                        <div class="space_intro section3">
                            <h2 id="three" class="two_title">유의사항</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>
                        <div class="space_intro section4">
                            <h2 id="four" class="two_title">환불정책</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>
                        <div class="space_intro section5">
                            <h2 id="five" class="two_title">Q&A</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>
                        <div class="space_intro section6">
                            <h2 id="six" class="two_title">이용후기</h2>
                            <p>스터디룸제이는 서울대입구역 근처에 위치한 스터디룸으로, 다양한 모임에 적합한 공간입니다. 청결하고 아늑한 분위기에서 모임을 즐기실 수 있습니다.</p>
                            <p class="h_desc">🎈센츄리타워 10층 1003호에 위치한 스터디룸제이는<br>모든 모임에 알맞는 공간으로 항상 청결하고 아늑하게 준비된 공간 입니다~
                            </p>
                        </div>

                    </div>
                </div>
                <!-- 예약 버튼은 아래로 이동 -->
            </div>
            <div class="side_container">
                <div class="payment_info">
                    <h2 class="payment_title">결제 안내</h2>
                    <div class="payment_option">
                        <input type="radio" id="price1" name="price" value="1000">
                        <label for="price1">1000원</label><br>
                    </div>
                    <div class="payment_option">
                        <input type="radio" id="price2" name="price" value="2000">
                        <label for="price2">2000원</label><br>
                    </div>
                    <!-- 추가적인 결제 옵션들을 여기에 추가 -->
                </div>
                <button class="reserve_button">예약하기</button>
            </div>
        </div>
    </div>
</th:block>
</html>
