<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.project.SnakeProject.mapper.StudyInInfoMapper">
    <select id="ViewStudyInInfo" resultType="com.project.SnakeProject.vo.StudyInInfoVo">
        SELECT * FROM Tbl_StudyInInfo
    </select>

    <update id="UpdateStudyInInfo" parameterType="java.lang.Integer">
        UPDATE Tbl_StudyInInfo SET SeatUseState = 'Y' WHERE SCIdx = 1111 AND SeatNum =
        (select SeatNum from Tbl_StudyInInfo where SIINum = #{SIINum})
    </update>
</mapper>